<div class="navigation mt-2">
    <!-- First row --> 
    <div class="mt-2">
      <div class="flex flex-wrap -mx-2">

        <!-- Five columns only --> 
        <div class="w-1/3 sm:w-1/2 md:w-1/3 lg:w-1/5 xl:w-1/5 px-2">
          <a class="block cursor-pointer bg-green-400 border-b-4 border-green-600 h-12 text-center hover:bg-green-500 p-2 mt-2" href="#3des">
            <div class="font-bold">Triple DES</div>
          </a>
        </div>
        <div class="w-1/3 sm:w-1/2 md:w-1/3 lg:w-1/5 xl:w-1/5 px-2">
          <a class="block cursor-pointer bg-green-400 border-b-4 border-green-600 h-12 text-center hover:bg-green-500 p-2 mt-2" href="#rsa">
            <div class="font-bold">RSA</div>
          </a>
        </div>
        <div class="w-1/3 sm:w-1/2 md:w-1/3 lg:w-1/5 xl:w-1/5 px-2">
          <a class="block cursor-pointer bg-green-400 border-b-4 border-green-600 h-12 text-center hover:bg-green-500 p-2 mt-2" href="#blowfish">
            <div class="font-bold">Blowfish</div>
          </a>
        </div>
        <div class="w-1/3 sm:w-1/2 md:w-1/3 lg:w-1/5 xl:w-1/5 px-2">
          <a class="block cursor-pointer bg-green-400 border-b-4 border-green-600 h-12 text-center hover:bg-green-500 p-2 mt-2" href="#twofish">
            <div class="font-bold">Twofish</div>
          </a>
        </div>
        <div class="w-1/3 sm:w-1/2 md:w-1/3 lg:w-1/5 xl:w-1/5 px-2">
          <a class="block cursor-pointer bg-green-400 border-b-4 border-green-600 h-12 text-center hover:bg-green-500 p-2 mt-2" href="#aes">
            <div class="font-bold">AES</div>
          </a>
        </div>

      </div>
    </div>

    <!-- More rows below -->

  </div>